Author - paras nautiyal
Date - 11-12-2025
Subject - EDA for car reatail market india

1.1 First loading the data from all_car_details.csv to pandas dataframe data.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as Plt
import seaborn as sns
import os

In [2]:
df = pd.read_csv("all_car_details.csv")

printing the top 3 rows to data to get the taste of raw data

In [3]:
print(df.head())

        city           make          model                  variant  mileage  \
0  delhi-ncr        Hyundai        New i20  Sportz 1.2 MT Dual Tone    80637
1  delhi-ncr  Maruti Suzuki  Vitara Brezza                      VXi    41189
2  delhi-ncr          Honda          Amaze          1.2 S MT Petrol    17293
3  delhi-ncr         Datsun        Redi-GO                        T    43941
4  delhi-ncr        Hyundai          Creta  1.6 SX Plus Auto Petrol    66029

   make_year     price fuel_type  no_of_owners   color  body_type  \
0       2021  556000.0    petrol             1  silver  hatchback
1       2021  630000.0    petrol             2     red        suv
2       2018  506000.0    petrol             1     red      sedan
3       2016  182000.0    petrol             2    grey  hatchback
4       2017  788000.0    petrol             1   white        suv

  transmission  registration_year  latest_publish_date
0       manual               2021  2025-08-18 12:35:31
1       manual               2021  2025-08-18 12:40:34
2       manual               2018  2025-08-18 12:50:12
3       manual               2018  2025-08-18 10:45:45
4    automatic               2017  2025-08-18 12:57:20

1.2 basic information like number of columns and size

In [4]:
df.shape

(8137, 14)

In [5]:
columns_name = df.columns

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8137 entries, 0 to 8136
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   city                 8137 non-null   object
 1   make                 8137 non-null   object
 2   model                8137 non-null   object
 3   variant              8137 non-null   object
 4   mileage              8137 non-null   int64
 5   make_year            8137 non-null   int64
 6   price                8137 non-null   float64
 7   fuel_type            8137 non-null   object
 8   no_of_owners         8137 non-null   int64
 9   color                8136 non-null   object
 10  body_type            8137 non-null   object
 11  transmission         8137 non-null   object
 12  registration_year    8137 non-null   int64
 13  latest_publish_date  8137 non-null   object
dtypes: float64(1), int64(4), object(9)
memory usage: 890.1+ KB

In [8]:
df.isna().sum()

city                   0
make                   0
model                  0
variant                0
mileage                0
make_year              0
price                  0
fuel_type              0
no_of_owners           0
color                  1
body_type              0
transmission           0
registration_year      0
latest_publish_date    0
dtype: int64

In [9]:
df.nunique()

city                     16
make                     21
model                   158
variant                1343
mileage                5604
make_year                15
price                  1963
fuel_type                 6
no_of_owners              3
color                    16
body_type                 6
transmission              2
registration_year        15
latest_publish_date    5658
dtype: int64

In [ ]:
1.2 Discribing the 5 principal of probablity

In [ ]:
df.describe()